<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"crossorigin="anonymous"/>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"rel="stylesheet"/>
    <link rel="stylesheet" href="/resources/css/style.css" />
    
    <link rel="shortcut icon" href="/resources/images/favicon.ico">
  </head>
  <body>
    <%- include('sidebar.ejs') %> 
    <section class="home-section">
      <div class="Container px-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h3><b>Registro de productos</b></h3><br>
            <div class="mb-3">
              <label for="text" class="form-label"><b>Seleccione la categoria del producto a añadir</b></label>
            </div>

            <select class="form-select"  aria-label="Seleccione una categoria" id="categoria"  required>
              <option value="0" >Seleccione una categoria</option>
              <option value="1">Calzado</option>
              <option value="2">Prendas de Vestir</option>
              <option value="3">Cosmeticos</option>
              <option value="4">Electrodomestico</option>
              <option value="5">Productos Plasticos</option>
            </select>

            <form action="/AddProduct" method="post" class=" needs-validation g-3 py-3" novalidate> 
              <div class="col-md-6">
                <label for="Marca" id="Marcalb" class="form-label">Marca</label>
                <input type="text" class="form-control" id="Marca" name="Marca" required>
                <div class="invalid-feedback">La marca es requerida</div>
                <input type="text" class="form-control" id="Categoria_Prod" name="Categoria_Prod" hidden>
              </div>

              <div class="col-md-6">
                <label for="Existencia" class="form-label">Existencia del producto</label>
                <input type="number" class="form-control" id="Existencia" name="Existencia" required>
                <div class="invalid-feedback">La existencia es requerida</div>
              </div>

              <div class="col-md-6">
                <label for="Precio" class="form-label">Precio del Producto</label>
                <input type="number" class="form-control" id="Precio" name="Precio" required>
              </div>

              <div class="col-md-6">
                <label for="Color" class="form-label">Color del producto</label>
                <input type="text" class="form-control" id="Color" name="Color" required>
              </div>  

              <div class="col-md-6">
                  <label for="Tipo" class="form-label">Tipo de producto</label>
                  <input type="text" class="form-control" id="Tipo" name="Tipo" required>
              </div>

              <div class="col-md-6">
                <label for="FechaIngreso" class="form-label">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="FechaIngreso" name="Fecha" required>
              </div>

              <div class="col-md-6">
                <label for="Talla" id="Tallalb" class="form-label">Talla del producto</label>
                <input type="text" class="form-control" id="Talla" name="Talla">
              </div>

              <div class="col-md-6">
                <label for="Modelo" id="Modelolb" class="form-label">Modelo del producto</label>
                <input type="text" class="form-control" id="Modelo" name="Modelo">
              </div>

              <div class="col-md-6">
                <label for="Clasificacion" id="Clasificacionlb" class="form-label">Clasificacion</label>
                <input type="text" class="form-control" id="Clasificacion" name="Clasificacion">

                <label for="Dimensiones" id="Dimensioneslb" class="form-label">Dimensiones</label>
                <input type="text" class="form-control" id="Dimensiones" name="Dimensiones">

                <label for="UnidadMedida" id="UnidadMedidalb" class="form-label">Unidad de Medida</label>
                <input type="text" class="form-control" id="UnidadMedida" name="Unidad_Medida">
              </div>

              <div class="d-grid gap-2">
                <button title="Guardar Producto" type="submit" class="btn btn-success">Guardar Producto</button>
                <button title="Limpiar Campos" class="btn btn-secondary" onclick="Limpiar()">Limpiar Campos</button>
              </div>
            </form>
         </div>

           <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 px-4 py-10">
            <!-- <h2>----------------</h2> -->
             <div class="card mt-3 mb-3" style="width: 15rem;">
                <img src="/resources/images/2.png" class="card-img-top" alt="...">
                <div class="card-body">
<!--                   <h5 class="card-title">Categoria Calzado</h5>
                  <p class="card-text"></p> -->
                 <a href="/ShowProducts/Calzado" class="btn btn-primary">Ver Productos</a>
                </div>
             </div>

             <div class="card mb-3" style="width: 15rem;">
              <img src="/resources/images/3.png" class="card-img-top" alt="...">
              <div class="card-body">
<!--                 <h5 class="card-title">Categoria Electromesticos</h5>
                <p class="card-text"></p> -->
               <a href="/ShowProducts/Electrodomesticos" class="btn btn-primary">Ver Productos</a>
              </div>
           </div>

           <div class="card mb-3" style="width: 15rem;">
            <img src="/resources/images/6.png" class="card-img-top" alt="...">
             <div class="card-body">
<!--               <h5 class="card-title">Categoria Productos Plasticos</h5>
              <p class="card-text"></p> -->
             <a href="/ShowProducts/Productos_Plasticos" class="btn btn-primary">Ver Productos</a>
             </div>
            </div>

          </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-10">
<!--               <h2>----------------</h2> -->
              <div class="card mt-3 mb-3" style="width: 15rem;">
                 <img src="/resources/images/4.png" class="card-img-top" alt="...">
                 <div class="card-body">
<!--                    <h5 class="card-title">Categoria Prendas de Vestir</h5>
                   <p class="card-text"></p> -->
                  <a href="/ShowProducts/Cosmeticos" class="btn btn-primary">Ver Productos</a>
                 </div>
              </div>

              <div class="card mb-3" style="width: 15rem;">
                <img src="/resources/images/5.png" class="card-img-top" alt="...">
                <div class="card-body">
<!--                   <h5 class="card-title">Categoria Prendas de Vestir</h5>
                  <p class="card-text"></p> -->
                 <a href="/ShowProducts/Prendas_Vestir" class="btn btn-primary">Ver Productos</a>
                </div>
             </div>

            </div>

          </div>
        </div>
      </div>
    </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/resources/js/script.js"></script>
    <script src="/resources/js/ScriptProducts.js"></script>
    <!-- codigo js para las validaciones-->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>

    <% if (typeof alert != "undefined")  { %>
      <script>
          Swal.fire({
              title: '<%= alertTitle %>',
              text: '<%= alertMessage %>',
              icon: '<%= alertIcon %>',
              showConfirmButton: true,
              timer: false
          }).then(() => {
              window.location = '/ShowProducts/<%= cat %>'
          })
      </script>
  <% } %>

  </body>
</html>
