<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/resources/css/style.css" />

    <link rel="shortcut icon" href="/resources/images/favicon.ico">


    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css">

  </head>
  <body>
    <%- include('sidebar.ejs') %>
    <section class="home-section">
      <div class="Container px-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h3><b>Registro de productos</b></h3>
            <br>
            <div class="mb-3">
              <label for="text" class="form-label"><b>Seleccione la categoria del producto a añadir</b></label>
            </div>

            <select class="form-select" aria-label="Seleccione una categoria" id="categoria" disabled>
              <option disabled value="">Seleccione una categoria</option>

              <% if ( Categoria == 'Calzado') { %>
              <option value="1" selected>Calzado</option>
              
              <% } else { %>
              <option value="1">Calzado</option>
              <% } %> <% if ( Categoria == 'Prendas_Vestir') { %>
              <option value="2" selected>Prendas de Vestir</option>
              <% } else { %>
              <option value="2">Prendas de Vestir</option>
              <% } %> <% if ( Categoria == 'Cosmeticos') { %>
              <option value="3" selected>Cosmeticos</option>
              <% } else { %>
              <option value="3">Cosmeticos</option>
              <% } %> <% if ( Categoria == 'Electrodomesticos') { %>
              <option value="4" selected>Electrodomesticos</option>
              <% } else { %>
              <option value="4">Electrodomesticos</option>
              <% } %> <% if ( Categoria == 'Productos_Plasticos' ||  Categoria == 'Productos Plasticos' ) { %>
              <option value="5" selected>Productos Plasticos</option>
              <% } else { %>
              <option value="5">Productos Plasticos</option>
              <% } %>
            </select>

            <form action="/AddProduct" method="post" class="row needs-validation g-3 py-3" novalidate> 
              <!-- Fecha Ingreso -->
              <div class="col-md-6">
                <label for="FechaIngreso" class="form-label">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="FechaIngreso" name="Fecha_Ingreso" required>
                <div class="invalid-feedback">Por favor ingrese la fecha de ingreso del producto</div>
              </div>

              <!-- Marca -->
              <div class="col-md-6">
                <label for="Marca" id="Marcalb" class="form-label">Marca</label>
                <input type="text" class="form-control" id="Marca" name="Marca" required>
                <div class="invalid-feedback">Por favor ingrese la marca del producto</div>
                <input type="text" class="form-control" id="Categoria_Prod" name="Categoria_Prod" hidden>
              </div>
              
              <!-- Tipo -->
              <div class="col-md-6">
                <label for="Tipo" class="form-label">Tipo de producto</label>
                <input type="text" class="form-control" id="Tipo" name="Tipo" required>
                <div class="invalid-feedback">Por favor ingrese el Tipo de producto</div>
              </div>

              <!-- Color -->
              <div class="col-md-6">
                <label for="Color" class="form-label">Color del producto</label>
                <input type="text" class="form-control" id="Color" name="Color" required>
                <div class="invalid-feedback">Por favor ingrese el Color del producto</div>
              </div>  

              <!-- Precio Compra -->
              <div class="col-md-6">
                <label for="Precio" class="form-label">Precio de Compra</label>
                <input type="number" class="form-control" id="Precio" name="Precio_Compra" required>
                <div class="invalid-feedback">Por favor ingrese el precio de compra del producto</div>
              </div>

              <!-- Precio Venta -->
              <div class="col-md-6">
                <label for="Precio" class="form-label">Precio de Venta</label>
                <input type="number" class="form-control" id="Precio" name="Precio_Venta" required>
                <div class="invalid-feedback">Por favor ingrese el precio de venta del producto</div>
              </div>
  
              <!-- Talla -->
              <div class="col-md-6" id="Talladiv">
                <label for="Talla" id="Tallalb" class="form-label">Talla del producto</label>
                <input type="text" class="form-control" id="Talla" name="Talla" required>
                <div class="invalid-feedback">Por favor ingrese la talla del producto</div>
              </div>

              <!-- Modelo -->
              <div class="col-md-6" id="Modelodiv">
                <label for="Modelo" id="Modelolb" class="form-label">Modelo del producto</label>
                <input type="text" class="form-control" id="Modelo" name="Modelo" required>
                <div class="invalid-feedback">Por favor ingrese el Modelo del producto</div>
              </div>

              <!-- Clasificación y Fecha Vencimiento -->
              <div id="Cosmeticos" class="container">
                <div class="row">

                  <div class="col-md-6" id="Clasificaciondiv">
                    <label for="Clasificacion" id="Clasificacionlb" class="form-label">Clasificacion</label>
                    <input type="text" class="form-control" id="Clasificacion" name="Clasificacion" required>
                    <div class="invalid-feedback">Por favor ingrese la Clasificación del producto</div>
                  </div>

                  <div class="col-md-6" >
                    <label id="FechaVencimientolb"for="FechaVencimiento" class="form-label">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" id="FechaVencimiento" name="Fecha_Vencimiento" required>
                    <div class="invalid-feedback">Por favor ingrese la fecha de vencimiento del producto</div>
                  </div>

                </div>
              </div> 

              <!-- Dimensiones  -->
              <div id="plasticos" class="container">
                <div class="row">
                  <div class="col-md-6">
                    <label for="Dimensiones" id="Dimensioneslb" class="form-label">Dimensiones del Producto</label>
                    <input type="text" class="form-control" id="Dimensiones" name="Dimensiones" required>
                    <div class="invalid-feedback">Por favor ingrese las dimensiones del producto</div>  
                  </div>

                  <div class="col-md-6">
                    <label for="UnidadMedida" id="UnidadMedidalb" class="form-label">Unidad de Medida de las Dimensiones</label>
                    <input type="text" class="form-control" id="UnidadMedida" name="Unidad_Medida" required>
                    <div class="invalid-feedback">Por favor ingrese la unidad de medida de las dimensiones del producto</div>
                  </div>

                </div>
              </div> 


              <div class="d-grid gap-2">
                <button title="Guardar Producto" type="submit" class="btn btn-success">Guardar Producto</button>
                <button title="Limpiar Campos" class="btn btn-secondary" onclick="Limpiar()">Limpiar Campos</button>
              </div>
            </form>
          </div>

          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            
            <% if ( Categoria == 'Calzado') { %>
              <h2 class="mb-3"><b>Listado de Calzado</b></h2>
            <% } else if ( Categoria == 'Prendas_Vestir') { %>
              <h2 class="mb-3"><b>Listado de Prendas de Vestir</b></h2>
            <% } else if ( Categoria == 'Cosmeticos') { %>
              <h2 class="mb-3"><b>Listado de Cosmeticos</b></h2>
            <% } else if ( Categoria == 'Electrodomesticos') { %>
                <h2 class="mb-3"><b>Listado de Electrodomesticos</b></h2>
            <% } else if ( Categoria == 'Productos_Plasticos') { %>
                <h2 class="mb-3"><b>Listado de Productos Plasticos</b></h2>
            <% } else if ( Categoria == 'Prendas de Vestir') { %>
                <h2 class="mb-3"><b>Listado de Prendas de Vestir</b></h2>
            <% } else if ( Categoria == 'Productos Plasticos') { %>
                  <h2 class="mb-3"><b>Listado de Productos Plasticos</b></h2>
            <% } %>

              
            <table class="table primary hover" id="TableProducts">
              <thead>
                <tr>
                  <th class="centrado">Producto</th>
                  <th class="centrado">Precio de Compra</th>
                  <th class="centrado">Precio de Venta</th>
                  <th class="centrado">Fecha Ingreso</th>
                  <% if ( Categoria == 'Cosmeticos') { %>
                    <th class="centrado">Fecha Vencimiento</th>
                  <% } %>
                  <th class="centrado">Existencias</th>
                  <th class="centrado"></th>
                </tr>
              </thead>
              
              <tbody>
                <% Producto.forEach((product) => { %>
                  <tr>
                    <td class="centrado"><%= product.Descripcion %></td>

                    <% if ( product.Precio_Compra == null ) { %>
                      <td class="centrado">C$ 0 </td>
                    <% } else { %>
                      <td class="centrado">C$ <%= product.Precio_Compra %></td>
                    <% } %>

                    <% if ( product.Precio_Venta == null ) { %>
                      <td class="centrado">C$ 0 </td>
                    <% } else { %>
                      <td class="centrado">C$ <%= product.Precio_Venta %></td>
                    <% } %>

                    <% if ( product.Fecha_Ingreso == '31 de diciembre de 1969' ) { %>
                      <td class="centrado">No se han Ingresado Existencias </td>
                    <% } else { %>
                      <td class="centrado"><%= product.Fecha_Ingreso %></td>
                    <% } %>

                    <% if ( Categoria == 'Cosmeticos') { %>
                      <td class="centrado"><%= product.Fecha_Vencimiento %></td>
                    <% } %>
                    <td class="centrado tdExistenciaProd" id="tdExistenciaProd"><%= product.Existencia %></td>
                    <td>
                      <!-- Botones de acciones -->
                      <a href="/EditProduct/<%= product.Categoria %>/p/<%= product.Id_Producto %>" class="btn btn-success mb-1" title="Actualizar">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="16"
                                      height="16"
                                      fill="currentColor"
                                      class="bi bi-pencil-square"
                                      viewBox="0 0 16 16">
                                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                      <path
                                      fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                                      /></svg>
                      </a>
<!--                       <a href="#" class="btn btn-danger" title="Eliminar Producto" onclick="confirmDelete('<%= product.Id_Producto %>', '<%= Categoria %>')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"class="bi bi-trash" viewBox="0 0 16 16">
                                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                      </a> -->
                    </td>
                  </tr>
                <% }) %> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/resources/js/script.js"></script>
    <script src="/resources/js/ScriptProducts.js"></script>
    <script src="/resources/js/validaciones.js"></script>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>      


    <% if (typeof alert != "undefined") { %>
    <script>
      Swal.fire({
        title: "<%= alertTitle %>",
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: true,
        timer: false,
      }).then(() => {
        window.location = '/ShowProducts/<%= cat %>'
      });
    </script>
    <% } %>

    <script>
      $(document).ready(function(){
          $('#TableProducts').DataTable({
            info: false,
            ordering: false,
            lengthMenu: [5,10,15,20,25,50],
            "oLanguage": {
              "sSearch": "Buscar un producto:",
              "sZeroRecords": "No se encontraron resultados",
              "sLengthMenu": "Mostrar _MENU_ Productos",
              "sZeroRecords": "No se encontraron resultados",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                  "sFirst": "Primero",
                  "sLast": "Último",
                  "sNext": "Siguiente",
                  "sPrevious": "Anterior"}
              }
          })
          ;
      });
    </script>

  </body>
</html>
