<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendedores Comercial Jennifer</title>
    <!-- FA pencil-->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrao-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"crossorigin="anonymous"/>
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"rel="stylesheet"/>
    <!--Estilo CSS-->
    <link rel="stylesheet" href="resources/css/style.css" />

    
    <link rel="shortcut icon" href="/resources/images/favicon.ico">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

  </head>
  <body>
    <%- include('sidebar.ejs') %> 
    <section class="home-section">
      <div class="Container">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div
            id="panelRegistroVendedor"
            class="panel-flotante panel-ancho"
            style="display: none"
          >
            <div class="panel-content">
              <h4>Registrar un nuevo vendedor</h4>
        
              <div style="max-height: 300px; overflow-y: auto">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="mt-3 mb-3">
                    <h2 class="text-secondary"><b>Datos del Vendedor</b></h2>
                  </div>
        
                  <form action="/AddVendedor" method="post" class="needs-validation"novalidate>
                    <div class="mb-2">
                      <label for="nombre" class="form-label">Nombres</label>
                      <input
                        type="text"
                        class="form-control"
                        id="Tipo"
                        name="Tipo_vd"
                        placeholder="Tipo"
                        value="Vendedor"
                        hidden
                      />
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        name="Nombre_vd"
                        placeholder="Nombres"
                        required
                      />
                      <div
                        class="invalid-feedback"
                      >
                        Es necesario el Nombre
                      </div>
                    </div>
                    <div class="mb-2">
                      <label for="apellido" class="form-label">Apellidos</label>
                      <input
                        type="text"
                        class="form-control"
                        id="apellido"
                        name="Apellido_vd"
                        placeholder="Apellidos"
                        required
                      />
                      <div
                          class="invalid-feedback"
                        >
                          Es necesario el Apellido
                        </div>
                    </div>
                    <div class="mb-2">
                      <label for="Telefono" class="form-label">Telefono</label>
                      <input
                        type="number"
                        class="form-control"
                        id="Telefono"
                        name="Telefono_vd"
                        placeholder="Telefono"
                        required
                      />
                      <div
                          class="invalid-feedback"
                        >
                          Es necesario número teléfonico
                        </div>
                    </div>
                    <div class="mb-2">
                      <label for="Cedula" class="form-label">Cedula</label>
                      <input
                        type="text"
                        class="form-control"
                        id="Cedula"
                        name="Cedula_vd"
                        placeholder="Cedula"
                        required
                      />
                      <div
                          class="invalid-feedback"
                        >
                          Es necesario número de cédula
                        </div>
                    </div>
                    <div class="mb-1 position-relative">
                      <label for="Distrito_cl" class="form-label"
                        >Dirección</label
                      >
                      <select
                        id="selectDistritoVd"
                        class="form-select"
                        aria-label="Distrito"
                        name="Distrito_vd"
                        required
                      >
                        <option selected disabled value="">
                          Seleccionar Distrito...
                        </option>
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        <option value="V">V</option>
                        <option value="VI">VI</option>
                        <option value="VII">VII</option>
                      </select>
                      <div
                        class="invalid-feedback"
                      >
                        Es necesario el Distrito
                      </div>
                    </div>
                    <div class="mb-2 dx-2">
                      <label for="Residencia" class="form-label"
                        >Zona de Residencia</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="Residencia"
                        name="Residencia_vd"
                        placeholder="Z. Residencia"
                        required
                      />
                      <div
                          class="invalid-feedback"
                        >
                          Es necesario la zona de residencia
                        </div>
                    </div>
                    <div class="mb-2">
                      <label for="PuntoReferencia" class="form-label"
                        >Punto de Referencia</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="PuntoReferencia"
                        name="PuntoReferencia_vd"
                        placeholder="P. Referencia"
                        required
                      />
                      <div
                          class="invalid-feedback"
                        >
                          Solicitamos un punto de Referencia
                        </div>
                    </div>
                    <div class="mb-2">
                      <label for="Distancia" class="form-label">Distancia</label>
                      <input
                        type="text"
                        class="form-control"
                        id="Distancia"
                        name="Distancia_vd"
                        placeholder="Distancia"
                      />
                    </div>
                    <div class="mb-2">
                      <label for="casa" class="form-label">Numero de casa</label>
                      <input
                        type="text"
                        class="form-control"
                        id="casa"
                        name="Casa_vd"
                        placeholder="N. Casa"
                        required
                      />
                      <div
                          class="invalid-feedback"
                        >
                          Es necesario el número de Casa
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-success" title="Guardar">
                        Guardar
                      </button>
                      <a
                        class="btn btn-secondary mb-3"
                        title="Limpiar Campos"
                        onclick="Limpiar()"
                        >Limpiar Campos</a
                      >
                    </div>
                  </form>
                </div>
                <div class="py-3">
                  <button
                    type="button"
                    class="btn btn-danger"
                    onclick="cerrarPanelRegistroVendedor()"
                  >
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Container px-3 py-1 contenedorventas">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
        <h4>Listado y Registro de los Vendedores</h4>
      </div>
      <div class="Container px-3">
        <div class="row">
          
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="px-3 py-2">
              <h4 style="display: flex; justify-content: space-between">
                Listado de clientes
                <button
                  type="button"
                  class="btn btn-success"
                  title="Historial"
                  onclick="mostrarPanelRegistroVendedor()"
                >
                  <i class="fa-solid fa-user-plus mx-1"></i></i>Registrar un nuevo vendedor
                </button>
              </h4>
            </div>
            

            <!-- <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand">Buscar vendedor</a>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </nav> -->
            <table class="table primary hover" id="TableVendedor">
                <thead>
                  <tr>
                    <th class="centrado">Nombre completo</th>
                    <th class="centrado">Cedula</th>
                    <th class="centrado">Telefono</th>
                    <th class="centrado">Dirección</th>
                    <th class="centrado">Estado Vendedor</th>
                    <th class="centrado"></th>
                  </tr>
                </thead>
                <tbody>
                  <% vendedores.forEach((vendedor) => { %>
                    <tr>
                      <td class="centrado"> <%= vendedor.Nombre %></td>
                      <td class="centrado"><%= vendedor.Cedula %></td>
                      <td class="centrado"><%= vendedor.Telefono %></td>
                      <td class="centrado"><%= vendedor.Dirección %></td>
                      <td class="centrado"><%= vendedor.Estado %></td>
                      <td>
                        <!-- Botones de acciones -->
                        <a href="/EditVendedor/<%= vendedor.Id_Vendedor %>" class="btn btn-success mb-1" title="Actualizar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg> </a> 
                        <!-- <a href="#" class="btn btn-danger" title="Eliminar" onclick="confirmDeleteVendedor('<%= vendedor.Id_Vendedor %>')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg> </a> -->
                    </td>
                    </tr>

                  <% }) %> 

                  
                  
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/resources/js/ScriptVendedor.js"></script>
    <script src="/resources/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>      




    <!-- codigo js para las validaciones-->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
    <% if (typeof alert != "undefined")  { %>
      <script>
          Swal.fire({
              title: '<%= alertTitle %>',
              text: '<%= alertMessage %>',
              icon: '<%= alertIcon %>',
              showConfirmButton: true,
              timer: false
          }).then(() => {
              window.location = '/<%= ruta %>'
          })
      </script>
  <% } %>

  <script>
    $(document).ready(function(){
        $('#TableVendedor').DataTable({
            info: false,
            ordering: false,
            paging: false,
            "oLanguage": {
                "sSearch": "Buscar a un vendedor:"
            },
            "rowCallback": function( row, data ) {
                if (data[3] === "activo") { // Suponiendo que el estado está en la cuarta columna (índice 3)
                    $(row).css('background-color', 'green');
                } else if (data[3] === "inactivo") {
                    $(row).css('background-color', 'red');
                }
            }
        });
    });
  </script>

  </body>
</html>
